*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  width: 100%;
  background-color: #ff9a4b;
}

main{
  margin: 50px auto;
  width: 960px;
  display: flex;
}

.step-box{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.step-box:last-child{
  margin-right: 0;
}

.step-img1{
  background-image: url(img/flow01.png);
  background-position: bottom;
  height: 150px;
  background-size: cover;
}

.step-img2{
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num{
  color: white;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.title{
  margin: 15px 0 5px;
}

footer{
  background-color: #aaaaaa;
  height: 50px;
  width: 100%;
}

@media screen and (max-width:768px) {
  header{
    width: 100%;
  }
  main{
    width: 100%;
    display: block;
  }
  .step-box{
    width: 65%;
    height: 400px;
    margin: 20px auto;
  }
  .step-box:last-child{
    width: 65%;
    margin: 0 auto;
  }
  .step-img1{
    height: 200px;
  }
  .step-img2{
    height: 200px;
  }
  .step-img3{
    height: 200px;
  }
  footer{
    width: 100%;
  }
  
}

